@model ASPMVCDemo.Models.LoginDetails

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>LoginDetails</h4>
        <hr />
        <table>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>

                <td>
                    @Html.DisplayFor(model => model.UserName)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>

                <td>
                    @Html.DisplayFor(model => model.Password)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserRole)
                </th>

                <td>
                    @Html.DisplayFor(model => model.UserRole)
                </td>
            </tr>
        </table>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
